// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}

li {
  font-size: 1.5rem;
}
